/* styles for my resume */

/* affects all elements inside the body tags  */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #444;
    font-weight: 400;
}

/* affects name banner */
#name {
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* affects my title as a student journalist */
#title {
    color: #33485e;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* affects the section titles like experience, education, etc. */
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    width: 70%;
    min-width: 300px;
}

/* affects job titles */
.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

/* affects job org names */
.organization {
    font-weight: 400;
    font-size: 1.25em;
}

/* affects dates of jobs held */
.date {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* affects list elements under contact info, skills, education */
li {
   font-size: 1em; 
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.menu {
    margin: 0 auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.menu-item {
    display: inline;
}

#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50;
}