#headline {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

#byline {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: Georgia, serif;
    line-height: 200%;
    font-size: 1em;
}

#chapterhed {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#caption {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    text-align: left;
}

.col-md-4 {
    margin-top: 20px;
}

#footer{
    background-color: black;
    margin-top: 100px;
  }
  
#footertext {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }